.footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 98%;
  background-color: #282828;
  padding: 20px;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: #fff;
  width: 300px;
}

.footer__songImage {
  height: 60px;
  width: 60px;
  object-fit: contain;
  margin-right: 20px;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}

.footer__right {
  flex: 0.3;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.footer__green {
  color: rgb(23, 173, 23);
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform ease-in-out;
  transform: scale(1.2) !important;
  cursor: pointer;
}

.footer__right * .MuiSlider-root {
  color: rgb(23, 173, 23);
}
