.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.header__left {
  flex: 0.6;
  min-width: 60px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: gray;
  border-radius: 30px;
  padding: 10px;
}
.header__left > input {
  border: none;
  width: 100%;
  outline: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right > h4 {
  margin-left: 10px;
}
